services:
  - type: web
    name: projeto-vagas-backend
    env: standard
    plan: free
    repo: "https://github.com/leonardoalvarengaa/trabalho-frameworks-II"
    branch: main
    rootDir: backend
    buildCommand: "./mvnw -DskipTests=true package"
    startCommand: "java -jar target/*.jar"
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
