services:
  - type: web
    name: projeto-vagas-backend
    runtime: docker
    plan: free
    repo: https://github.com/leonardoalvarengaa/trabalho-frameworks-II
    branch: main
    rootDir: backend
    dockerfilePath: backend/Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
